// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require select2
 */

textarea {
  width: 500px;
  height: 300px;
}

#tag_cloud {
  line-height: 1.6em;
  .css1 { font-size: 0.7em; }
  .css2 { font-size: 0.8em; }
  .css3 { font-size: 0.9em; }
  .css4 { font-size: 1.0em; }
  .css5 { font-size: 1.1em; }
  .css6 { font-size: 1.2em; }
  .css7 { font-size: 1.3em; }
  .css8 { font-size: 1.4em; }
  .css9 { font-size: 1.5em; }
  .css10 { font-size: 1.6em; }
}